:root {
    --main-bg-color:  #111111;
    --main-txt-color: #f6f6f6;
    --bt-txt-color:   #FFcb74;
    --txt-color:   #FFcb74;
    --second-txt-color:#2f2f2f;
  }

body {
      background-color:#000000;
      color:#49f804;
      
}


  .wrapper {
    height: 5vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 200ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }